*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: #F1EEE2;
    color: #2E2926;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

button,
select {
    font: inherit;
}

#root {
    min-height: 100vh;
}

:root {
    --page-ready: #b04737;
    --page-notrequested: #ddc15d;
    --page-waiting: #7c8866;
    --page-needsreview: #daa976;
}
