.PageCard[data-status="Ready to build"] {
    background-color: var(--page-ready);
    color: #fff;
}

.PageCard[data-status="Needs review"] {
    background-color: var(--page-needsreview);
}

.PageCard[data-status="Waiting"] {
    background-color: var(--page-waiting);
    color: #fff;
}

.PageCard[data-status="Not yet requested"] {
    background-color: var(--page-notrequested);
}

.PageCard {
    padding: 1.5rem;
}

.PageCard h2 {
    margin: 0;
    width: fit-content;
    border-bottom: solid 0.75px;
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
}

.status-title, .priority-title {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.status-level, .priority-level {
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 400;
}

.PageCard p {
    margin: 0 auto;
    letter-spacing: 0.03rem;
    font-style: italic;
    font-size: 0.8rem;
}
